<p>{{item}}</p>
<p>{{item2}}</p>

<table mat-table [dataSource]="item" class="mat-elevation-z8" id="tabless">
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> FirstName </th>
    <td mat-cell *matCellDef="let item2"> {{item2.value}} </td>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>LastName </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef > Phone</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef > UserName </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  