
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  table {
    width: 100%;
    text-align: center;
    background-color: #edffec;
  }
  table, th {
    border: 1px solid black;
    
  }
  .B1{
    margin-right: 20px;
  }